/* Main Title */
.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.main-area {
    display: flex;
    justify-content: center;
}
/* Container For Boxes */
#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    gap: 1px;
    width: 400px;
    height: 400px;
}

/* Inividual Boxes */
.cell {
    border: 1px solid black;
}
