/* Main Title */
.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/* Container For Boxes */
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    margin-bottom: 5px;
    gap: 5px;
    flex: 1;
}

.container-inner {
    border-style: solid;
    border-color: red;
}

/* Inividual Boxes */
.row-boxes {
    width: 30px;
    border-style: solid;
    border-color: lightgray;
    border-width: 3px;
    flex: 1;
}

/* .column-boxes {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: lightgray;
    border-width: 3px;
} */
